.DS_Store
*.swp
coverage/
node_modules/
.yarn.lock
package-lock.json
config.js 
#Se agrega la carpeta de confiracion para que no se suba a github (por que le contenido de este archivo debe ser privado el desarrolador 